.mod-root .workspace-tab-header-tab-list > span,
.sidebar-toggle-button.mod-left {
  display: none
}
.workspace-tab-header-tab-list > span {
    display: none;
}

.workspace-ribbon .sidebar-toggle-button {
   display: none;
}